* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body,
button,
a {
  pointer-events: none;
}

/* Style pour le header */
header {
  position: fixed; /* Fixe le header en haut de la page */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(123, 123, 123, 0.7); /* Fond semi-transparent noir */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombre pour le header */
  z-index: 1000; /* Pour s'assurer que le header est au-dessus de tout */
}

header p {
  margin: 0;
  font-size: 1.2em;
}

form {
}

input {
  height: 25px;
  font-size: 1.2rem;
  color: black;
  border: none;
  background: rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
  caret-color: transparent;
}

#user-input {
  pointer-events: auto;
}
