{{define "game"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web</title>
    <link rel="stylesheet" href="/static/style/game.css">
</head>

<body>

    <header>
        <p>Pseudo : {{.Pseudo}}</p>
        <h1>Bienvenue dans le jeu du pendu !</h1>
        <p>Difficulté : {{.Difficulty}}</p>
        <p>Mot : {{.Word}}</p>
    </header>

    {{if .Win}}
    <div class="win">
        <div class="win-text">
            <p>Bien joué ! Vous avez trouvé le mot : {{.Word}}</p>
        </div>
        <div class="win-button">
            <form action="/game/restart" method="post">
                <button type="submit">Rejouez !</button>
                <select name="change-difficulty" id="change-difficulty">
                    <option>Ne pas changer de difficulté</option>
                    <option value="Normal">Normal</option>
                    <option value="Difficile">Difficile</option>
                </select>
            </form>
            <form action="/rank" method="post">
                <button type="submit">Aller voir le classement !</button>
            </form>


            <form action="/game/useBonus" method="post" class="bonus-form">
                <button type="submit" id="bonus-button">Utiliser le Bonus (révéler une lettre)</button>
            </form>

            
            
        </div>
    </div>
    {{else if .Lose}}
    <div class="lose">
        <div class="lose-text">
            <p>Vous avez perdu ! Le mot était : {{.Word}}</p>
        </div>
        <div class="lose-button">
            <form action="/game/restart" method="post">
                <button type="submit">Rejouez !</button>
                <select name="change-difficulty" id="change-difficulty">
                    <option>Ne pas changer de difficulté</option>
                    <option value="Normal">Normal</option>
                    <option value="Difficile">Difficile</option>
                </select>
            </form>
            <form action="/rank" method="post">
                <button type="submit">Aller voir le classement !</button>
            </form>
        </div>
    </div>

    {{else}}
    <form action="/game/traitement" method="post" class="game-form">
        <div class="hidden-word-container">
            <p>Mot caché : {{.HiddenWord}}</p>
        </div>
        <div class="container">

            <div class="info-bubble">
                <p>Vies restantes : {{.Counter}}</p>
                <p>Lettres utilisées : {{.LettersAlreadyFound}}</p>
                <p>Voici les mots utilisés : {{.WordsAlreadyFound}}</p>
            </div>
            <div class="third-child">
                <input type="text" name="user-value" id="user-value" required autofocus autocomplete="off">
            </div>
        </div>
    </form>
    {{end}}

    <style>
        body {
            background: no-repeat url("/static/img/Fond-n{{.Counter}}.png");
        }
    </style>

</body>

<script src="/static/script/game.js"></script>

</html>
{{end}}