{{define "game"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web</title>
    <link rel="stylesheet" href="/static/style/game.css">
</head>

<body>

    <header>
        <p>Pseudo : {{.Pseudo}}</p>
        <h1>Bienvenue dans le jeu du pendu !</h1>
        <p>Difficulté : {{.Difficulty}}</p>
        <p>Mot : {{.Word}}</p>
    </header>
 
    <form action="/game/traitement" method="post" class="game-form">
        <div class="container">
            <div class="first-child">
                <p>Voici le mot caché : {{.HiddenWord}}</p>
                <p>Voici les vies restantes : {{.Counter}}</p>
            </div>
            <div class="second-child">
                <p>Voici les mots utilisé : {{.WordsAlreadyFound}}</p>
                <p>Voici les lettres utilisé : {{.LettersAlreadyFound}}</p>
            </div>
            <div class="third-child">
                <input type="text" name="user-value" id="user-value" required autofocus>
            </div>
        </div>
    </form>

    <style>
        body {
            background: no-repeat url("/static/img/fond-n{{.Counter}}.png");
        }
    </style>

    <script src="/static/script/game.js"></script>

</body>

</html>
{{end}}