{{define "game"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web</title>
    <link rel="stylesheet" href="/static/style/game.css">
</head>

<body>

    <!-- Ajout du header pour le pseudo et la difficulté -->
    <header>
        <p>Pseudo : {{.Pseudo}}</p>
        <p>Difficulté : {{.Difficulty}}</p>
    </header>

    <form action="/game/traitement" method="post" class="game-form">
        <p>Voici le mot : {{.Word}}</p>
        <p>Voici le mot caché : {{.HiddenWord}}</p>
        <p>Voici les vies restantes : {{.Counter}}</p>
        <p>Voici le mot que vous avez entré : {{.UserWord}}</p>
        <input type="text" name="user-word">
    </form>

</body>

</html>
{{end}}
