{{define "home"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Web</title>
    <link rel="stylesheet" href="/static/style/home.css">
</head>

<body>
    <div class="backgroundImage"></div>
    <div class="form-container">
        <form action="/home/traitement" method="post">
            <label for="pseudo" class="pseudo">Pseudo:</label>
            <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo" required>
            {{if .CheckPseudo}}
            <p class="check-pseudo">Pseudo Invalide</p>
            {{end}}
            <label for="difficulty">Difficulté:</label>
            <select id="difficulty" name="difficulty">
                <option>Choisissez votre difficulté</option>
                <option value="Normal">Normal</option>
                <option value="Difficile">Difficile</option>
            </select>
            {{if .CheckDifficulty}}
            <p class="check-difficulty">Choisissez une difficulté</p>
            {{end}}

            <button type="submit">Commencer</button>
        </form>
    </div>
</body>

</html>
{{end}}